<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Display System Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="static/js/common.js"></script>
    <script src="static/js/create-default.js"></script>

    <style>html {
        background-color: unset;
    }</style>
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body onload="onLoad()" class="has-background-white-ter" style="height: 100vh">

<!--Navigation bar-->
<div id="nav-placeholder">

</div>

<script>
    $(function () {
        $("#nav-placeholder").load("navbar.html");
    });
</script>
<!--end of Navigation bar-->

<!-- begin form -->
<section class="form">
    <div class="container" style="margin: 10px">
        <form enctype="multipart/form-data" action="/error" method="post" onsubmit="return onVerify();" name="form">

            <!--
                    <label>Media Type:
                        <select onchange="updateType()" name="type" id="type">
                            <option selected>Image</option>
                            <option>Video</option>
                            <option>Presentation</option>
                            <option>Countdown</option>
                            <option>Twitch</option>
                        </select>
                    </label>
            -->

            <div class="field">
                <label class="label">Media Type:</label>
                <div class="control">
                    <div class="select">
                        <select onchange="updateType()" name="type" id="type">
                            <option selected>Image</option>
                            <option>Video</option>
                            <option>Slideshow</option>
                            <option disabled>Presentation</option>
                            <option>Countdown</option>
                            <option>Twitch</option>
                        </select>
                    </div>
                </div>
            </div>

            <!--
                     <div id="countdown-fields" style="display: none" class="media-fields">
                        <label>Countdown Date:
                            <input type="datetime-local" name="countdown-date">
                        </label>
                    </div>
            -->

            <div class="field media-fields" style="display:none" id="countdown-fields">
                <label class="label">Countdown Date:</label>
                <div class="control">
                    <input type="datetime-local" name="countdown-date">
                </div>
            </div>


            <!--
                    <div id="stream-fields" style="display: none" class="media-fields">
                        <label>Stream URL:
                            <input type="url" name="url">
                        </label>
                    </div>
             -->

            <div class="field media-fields" style="display:none" id="stream-fields">
                <label class="label">Stream URL:</label>
                <div class="control">
                    <input class="input" name="url">
                </div>
            </div>

            <div class="field media-fields" style="display:none" id="slideshow-fields">
                <label class="label">Slide Duration(Seconds):</label>
                <div class="control">
                    <input class="input" name="duration">
                </div>
            </div>

            <!--
                    <div id="file-fields" class="media-fields">
                        <label>Media Name:
                            <select name="media-names" id="media-names" onchange="updatePreview()">
                                <option hidden disabled selected value> -- select media --</option>
                            </select>
                        </label>
                    </div>
            -->
            <div class="field media-fields" id="file-fields">
                <label class="label">Media Name:</label>
                <div class="control">
                    <div class="select">
                        <select onchange="updatePreview()" name="media-names" id="media-names">
                            <option hidden disabled selected value> -- select media --</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- TODO: Change Image previewer -->
            <div id="image-preview">
                <img src="" id="image-preview-vertical" class="rotateimgvertical">
                <img src="" id="image-preview-horizontal">
            </div>

            <!--
                    <label>Locations:
                        <select name="screens" multiple>
                            <option hidden disabled selected value> -- select locations --</option>
                        </select>
                    </label>
            -->

            <div class="field">
                <label class="label">Locations:</label>
                <div class="control">
                    <div class="select is-multiple">
                        <select name="screens" multiple>
                            <option hidden disabled selected value> -- select locations --</option>
                        </select>
                    </div>
                </div>
            </div>

            <!--
                    <label>Start Date:
                        <input type="datetime-local" name="start-time" required>
                    </label>
            -->

            <div class="field">
                <label class="label">Start Date</label>
                <div class="control">
                    <input type="datetime-local" class="input" name="start-time" required>
                </div>
            </div>

            <!--
                    <label>Configuration Name:
                        <input name="default-name" required>
                    </label>
            -->
            <div class="field">
                <label class="label">Configuration Name:</label>
                <div class="control">
                    <input class="input" name="default-name" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-dark">Create Configuration</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>
