<!DOCTYPE html>
<html lang="en" class="has-background-white-ter" style="height: 100%">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Display System Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="static/js/common.js"></script>
    <script src="static/js/create-default.js"></script>
    <script src="static/js/bulma.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body onload="onLoad()" class="has-background-white-ter" style="height: 100%">

<!--Navigation bar-->
<div id="nav-placeholder">

</div>

<script>
    $(function () {
        $("#nav-placeholder").load("navbar.html");
    });
</script>
<!--end of Navigation bar-->

<section class="form">
    <div class="container" style="margin: 10px">
        <form enctype="multipart/form-data" action="/error" method="post" onsubmit="return onVerify();" name="form" novalidate>


            <div class="field">
                <label class="label">Media Type:</label>
                <div class="control">
                    <div class="select">
                        <select onchange="updateType()" name="type" id="type">
                            <option selected>Image</option>
                            <option>Video</option>
                            <option>Slideshow</option>
                            <option disabled>Presentation</option>
                            <option>Countdown</option>
                            <option>Twitch</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="field media-fields" style="display:none" id="countdown-fields">
                <label class="label">Countdown Date:</label>
                <div class="control">
                    <input type="datetime-local" class="input" name="countdown-date">
                </div>
            </div>


            <div class="field media-fields" style="display:none" id="stream-fields">
                <label class="label">Stream URL:</label>
                <div class="control">
                    <input class="input" name="url">
                </div>
            </div>

            <div class="field media-fields" style="display:none" id="slideshow-fields">
                <label class="label">Slide Duration(Seconds):</label>
                <div class="control">
                    <input class="input" type="number" name="duration">
                </div>
            </div>

            <div class="field media-fields" id="file-fields">
                <label class="label">Media Name:</label>
                <div class="control">
                    <div class="select" id="media-name-picker">
                        <select onchange="updatePreview()" name="media-names" id="media-names">
                            <option hidden disabled selected value> -- select media --</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="image-preview">
                <img src="" id="image-preview-vertical" class="rotateimgvertical">
                <img src="" id="image-preview-horizontal">
            </div>


            <div class="field">
                <label class="label">Locations:</label>
                <div class="control">
                    <div class="select is-multiple">
                        <select name="screens" multiple>
                            <option hidden disabled selected value> -- select locations --</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Start Date</label>
                <div class="control">
                    <input type="datetime-local" class="input" name="start-time" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Configuration Name:</label>
                <div class="control">
                    <input class="input" name="default-name" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-dark">Create Configuration</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>
