<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <style>html {
        background-color: unset;
    }</style>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
<!--Navigation bar-->
<div id="nav-placeholder">

</div>

<script>
    $(function () {
        $("#nav-placeholder").load("navbar.html");
    });
</script>
<!--end of Navigation bar-->

<section class="section">
  <div class="container">
    <h1 class="subtitle">Something went wrong...</h1>
    <div class="content">
    Please use your browser to go back.
    </div>

  </div>
</section>
</body>
</html>
