<section class="hero is-dark is-bold">


<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="home.html">
            <img src="" width="112" height="28"  onload="load()">
            <script src="static/js/common.js"></script>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbar" onclick="hamburger()" id="burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="home.html">
                Home
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="upload-media.html">
                        Upload
                    </a>
                    <a class="navbar-item" href="create-default.html">
                        Configuration
                    </a>
                    <a class="navbar-item" href="admin.html" id="admin-nav">
                        Admin
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="/logout">
                        Log out
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Begin Hero Text -->
<div class="hero-body">
   <div class="container">
     <p class="title">
       eScreens
     </p>
     <p class="subtitle">
       powered by Uplink Systems LLC
     </p>
   </div>
 </div>
</section>
